@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Caveat-Bold.woff2) format('woff2');
  }

  @font-face {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/ClashDisplay-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/ClashDisplay-Medium.woff2) format('woff2');
  }

  @font-face {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/ClashDisplay-SemiBold.woff2) format('woff2');
  }

  @font-face {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/ClashDisplay-Bold.woff2) format('woff2');
  }

  html {
    @apply font-clash text-lg;
  }

  section {
    @apply text-center leading-none;
    @apply py-8 sm:py-12 md:py-20 xl:py-25;
    @apply px-[30px] xs:px-[36px] sm:px-[42px] md:px-[56px] lg:px-[72px] xl:px-[140px];
  }
}
